﻿
@{
    ViewBag.Title = "Account Created Successfully";
}

<div class="jumbotron">
    <h2>The account has been successfully created!</h2>
    <img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" width="150" height="150"/>
</div>
