﻿@using ConferenceManagement.ViewModels.Login
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Conference Management App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav navbar-left">
                    @if (User.IsInRole(ConferenceManagementRole.Admin.ToString()))
                    {
                        <li>@Html.ActionLink("Create Account", "CreateComiteeMember", "User")</li>
                        <li>@Html.ActionLink("Create Conference", "CreateConference", "Conference")</li>
                    }
                    @if (User.IsInRole(ConferenceManagementRole.ComiteeMember.ToString()))
                    {
                        <li>@Html.ActionLink("See conferences", "ListAllConferences", "Conference")</li>
                    }
                    @if (User.IsInRole(ConferenceManagementRole.ComiteeMember.ToString()))
                    {
                        <li>@Html.ActionLink("Articles", "ListAllArticles", "Article")</li>
                    }
                    @if (User.IsInRole(ConferenceManagementRole.Author.ToString()))
                    {
                        <li>@Html.ActionLink("My Articles", "ListMyArticles", "Article")</li>
                        <li>@Html.ActionLink("Propose Article", "ProposeArticle", "Article")</li>
                    }
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tatooine</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
