﻿@using ConferenceManagement.ViewModels.Login
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (Session["user"] != null){
                    @Html.ActionLink("Hello " + ((UserSessionModel) Session["user"]).Username + "!", "Index", "Timesheet", routeValues: null, htmlAttributes: new {title = "Timesheet"})
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register Here", "CreateAuthor", "User")</li>
    </ul>
}
