﻿
@{
    ViewBag.Title = "ConferenceAddedSuccessfully";
}

<div class="jumbotron">
    <h2>The Conference has been successfully added!</h2>
    <img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" width="150" height="150" />
</div>

