﻿@using ConferenceManagement.ViewModels.Conference
@model ConferenceManagement.ViewModels.Conference.ConferenceViewModel

@{
    ViewBag.Title = "ConferenceDetails";
}

<h2>ConferenceDetails</h2>

<div>
    <h4>ConferenceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComiteeId)
        </dt>

        <dd>
            @((ConferenceManagementComitee)Model.ComiteeId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditConferences", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ListAllConferences")
</p>
