﻿@model IEnumerable<ConferenceManagement.ViewModels.Conference.ConferenceViewModel>

@{
    ViewBag.Title = "ListConferences";
}

<h2>List Conferences</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditConferences", new { id=item.Id }, new {@class="pull-right"}) |
            @Html.ActionLink("Details", "ConferenceDetails", new { id=item.Id }, new { @class = "pull-right" })
        </td>
    </tr>
}

</table>
