﻿@using ConferenceManagement.ViewModels.Article
@using ConferenceManagement.ViewModels.Login
@model ConferenceManagement.ViewModels.Article.ArticleViewModel

@{
    ViewBag.Title = "ArticleDetails";
}

<h2>Article Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abstract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ConferenceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConferenceName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ListMyArticles")
</p>
@if (User.IsInRole(ConferenceManagementRole.ComiteeMember.ToString()) && Model.Status == ArticleStatus.Proposed.ToString())
{
    <p>
        @Html.ActionLink("ReviewArticle", "ReviewArticle", new { articleId = Model.Id })
    </p>
}
