﻿@model IEnumerable<ConferenceManagement.ViewModels.Article.ArticleViewModel>

@{
    ViewBag.Title = "ListMyArticles";
}

<h2>List All Articles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Abstract)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Abstract)
        </td>
        <td>
            @Html.ActionLink("Details", "ArticleDetails", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
